* {
  box-sizing: border-box;
  margin: 0;
}
#nav-bar {
  position: sticky;
  padding: 0.5rem;
  background-color: #f76c6c;
  display: flex;
  justify-content: space-around;
}
#nav-work {
  color: white;
  font-size: x-large;
  padding: 1rem;
}
#nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.nav-item {
  color: white;
  font-size: larger;
}
@media screen and (min-width: 1200px) {
  #nav-bar {
    justify-content: space-around;
  }
  #nav-list {
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 30rem;
    font-size: larger;
    align-items: center;
  }
}
