* {
    box-sizing: border-box;
    margin: 0;
}
.nav-bar {
    position: sticky;
    padding: 0.5rem;
    background-color: #f76c6c;

}
.nav-list {
    list-style: none;
    font-size: larger;
    display:grid;
    grid-template-areas: 
            "a a x b b"
            "a a x c c"
            "a a x d d";
}

.nav-grid-a {grid-area: a;
    font-size: xx-large;
}
.nav-grid-b {grid-area: b;}
.nav-grid-c {grid-area: c;}
.nav-grid-d {grid-area: d;}

.nav-item {color: white;

}

